.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# Custom Ones
.*.swp
nohup.out
.vscode

# SiteCookbooks .gitignore
site_cookbooks/*/.git
site_cookbooks/*/.gitignore
site_cookbooks/*/.vagrant
site_cookbooks/*/*~
site_cookbooks/*/*#
site_cookbooks/*/.#*
site_cookbooks/*/\#*#
site_cookbooks/*/.*.sw[a-z]
site_cookbooks/*/*.un~
site_cookbooks/*/Gemfile.lock
site_cookbooks/*/gems.locked
site_cookbooks/*/bin/*
site_cookbooks/*/.bundle/*
site_cookbooks/*/.kitchen/
site_cookbooks/*/.kitchen.local.yml
site_cookbooks/*/Berksfile.lock
site_cookbooks/*/.zero-knife.rb
site_cookbooks/*/Policyfile.lock.json